{"Name":"dw2_test","DeviceType":0,"DeviceIp":"localhost","TrapPort":10062,"NeXMLFile":"xmlNeModel/DVM_MWCore12_BasicAir.xml","NcPort":10230,"ODLConfig":[{"Server":"192.168.178.104","Port":8181,"User":"admin","Password":"admin"}],"IsNCConnected":false,"IsNeConnected":false,"SetTrapHost":false,"TrapHostIp":"null"}